{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 28 Jan 2022 23:54:13 GMT",
      "etag" : "0x8D9E2B97CB6BD77",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:54:13 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2B97CB6BD77",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8D9E2B97CB6BD77\",\"lastModified\":\"2022-01-28T23:54:13.8813815Z\",\"creationTime\":\"2022-01-28T23:54:13.7940804Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:54:13.8813815Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2022-01-28T23:54:13.8813815Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8D9E2B97CB6BD77\",\"lastModified\":\"2022-01-28T23:54:13.8813815Z\",\"creationTime\":\"2022-01-28T23:54:13.7940804Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:54:13.8813815Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2022-01-28T23:54:13.8813815Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"BatchUser-Job-canReadFromNode\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode\",\"eTag\":\"0x8D9E2B96EC09D08\",\"lastModified\":\"2022-01-28T23:53:50.4579848Z\",\"creationTime\":\"2022-01-28T23:53:50.4409734Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2022-01-28T23:54:01.8629741Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-01-28T23:53:50.4579848Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2022-01-28T23:53:50.4579848Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      [...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job has been marked for deletion and is being garbage collected.\\nRequestId:8c53bd7d-1e52-4322-b0d1-765e53250ab2\\nTime:2022-01-28T23:54:15.8808779Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}
