{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 28 Jan 2022 23:54:08 GMT",
      "etag" : "0x8D9E2B979C5C819",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "last-modified" : "Fri, 28 Jan 2022 23:54:08 GMT",
      "etag" : "0x8D9E2B979C5C819",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:54:08 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2B979C5C819",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D9E2B979C5C819\",\"lastModified\":\"2022-01-28T23:54:08.9467929Z\",\"creationTime\":\"2022-01-28T23:54:08.9467929Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:54:08.9467929Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2022-01-28T23:54:08.695Z\",\"doNotRunAfter\":\"2022-01-29T04:54:08.695Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"nextRunTime\":\"2022-01-28T23:54:08.695Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules?api-version=2022-01-01.15.0&%24filter=id%20eq%20%27BatchUser-JobSchedule-canCRUD%27",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D9E2B979C5C819\",\"lastModified\":\"2022-01-28T23:54:08.9467929Z\",\"creationTime\":\"2022-01-28T23:54:08.9467929Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:54:08.9467929Z\",\"schedule\":{\r\n        \"doNotRunUntil\":\"2022-01-28T23:54:08.695Z\",\"doNotRunAfter\":\"2022-01-29T04:54:08.695Z\",\"startWindow\":\"P5D\"\r\n      },\"jobSpecification\":{\r\n        \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n        },\"poolInfo\":{\r\n          \"poolId\":\"BatchUser-testpool\"\r\n        }\r\n      },\"executionInfo\":{\r\n        \"recentJob\":{\r\n          \"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:54:09 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2B97A16921B",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D9E2B97A16921B\",\"lastModified\":\"2022-01-28T23:54:09.4762523Z\",\"creationTime\":\"2022-01-28T23:54:08.9467929Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2022-01-28T23:54:09.6782563Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-01-28T23:54:08.9467929Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2022-01-28T23:54:08.695Z\",\"doNotRunAfter\":\"2022-01-29T04:54:08.695Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  },\"metadata\":[\r\n    {\r\n      \"name\":\"key1\",\"value\":\"value1\"\r\n    }\r\n  ]\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:85f6861a-ec4b-43f3-8a35-54674aa254ef\\nTime:2022-01-28T23:54:10.8773576Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}
