{
  "networkCallRecords" : [ {
    "Method" : "HEAD",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Sat, 29 Jan 2022 00:02:41 GMT",
      "etag" : "0x8D9E2BAAB7EDC4E",
      "location" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Sat, 29 Jan 2022 00:02:41 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2BAAB7EDC4E",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-testpool4\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4\",\"eTag\":\"0x8D9E2BAAB7EDC4E\",\"lastModified\":\"2022-01-29T00:02:41.8648142Z\",\"creationTime\":\"2022-01-29T00:02:41.8648142Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-29T00:02:41.8648142Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2022-01-29T00:02:41.8648142Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4/resize?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4/resize",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Sat, 29 Jan 2022 00:07:14 GMT",
      "etag" : "0x8D9E2BB4DCE827D",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified pool does not exist.\\nRequestId:61b7347f-1533-45ff-ae28-57e5fa80dd58\\nTime:2022-01-29T00:12:02.0226517Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}
