{
  "networkCallRecords" : [ {
    "Method" : "HEAD",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 28 Jan 2022 23:58:20 GMT",
      "etag" : "0x8D9E2BA0FA9BAF6",
      "location" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:58:20 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2BA0FA9BAF6",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-CRUDPaaS\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS\",\"eTag\":\"0x8D9E2BA0FA9BAF6\",\"lastModified\":\"2022-01-28T23:58:20.4211958Z\",\"creationTime\":\"2022-01-28T23:58:20.4211958Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:58:20.4211958Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2022-01-28T23:58:20.4211958Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":3,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"test-user-1\",\"elevationLevel\":\"nonadmin\",\"windowsUserConfiguration\":{\r\n        \"loginMode\":\"interactive\"\r\n      }\r\n    },{\r\n      \"name\":\"test-user-2\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n        \"loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-CRUDPaaS\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS\",\"eTag\":\"0x8D9E2BA0FA9BAF6\",\"lastModified\":\"2022-01-28T23:58:20.4211958Z\",\"creationTime\":\"2022-01-28T23:58:20.4211958Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:58:20.4211958Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2022-01-29T00:00:38.877865Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"curr[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/nodecounts?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n    {\r\n      \"poolId\":\"BatchUser-CRUDPaaS\",\"dedicated\":{\r\n        \"creating\":3,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":3\r\n      },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n      }\r\n    },{\r\n      \"poolId\":\"BatchUser-testIaaSpool\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":1,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":1\r\n      },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n      }\r\n    },{\r\n      \"poolId\":\"BatchUser-testpool\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":1,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":1\r\n      },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"waitingForStartTask\":0,\"total\":0\r\n      }\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS/updateproperties?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS/updateproperties",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Sat, 29 Jan 2022 00:00:51 GMT",
      "etag" : "0x8D9E2BA69E6C783",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified pool does not exist.\\nRequestId:622940ef-d2d0-478d-9129-ef05cd93ed45\\nTime:2022-01-29T00:02:39.7597080Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}
