{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 28 Jan 2022 23:53:50 GMT",
      "etag" : "0x8D9E2B96EC09D08",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 28 Jan 2022 23:53:50 GMT",
      "etag" : "0x8D9E2B96ED357FF",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks?api-version=2022-01-01.15.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask\",\"state\":\"running\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:53:50 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2B96ED357FF",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask\",\"eTag\":\"0x8D9E2B96ED357FF\",\"creationTime\":\"2022-01-28T23:53:50.5807359Z\",\"lastModified\":\"2022-01-28T23:53:50.5807359Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2022-01-28T23:53:50.750721Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2022-01-28T23:53:50.661902Z\",\"commandLine\":\"/bin/bash -c \\\"echo hello\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2022-01-28T23:53:50.703635Z\",\"endTime\":\"2022-01-28T23:53:50.750721Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n  },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d\",\"nodeUrl\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d\",\"poolId\":\"BatchUser-testpool\",\"nodeId\":\"tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d\",\"taskRootDirectory\":\"workitems/BatchUser-Job-canReadFromNode/job-1/mytask\",\"taskRootDirectoryUrl\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d/files/workitems/BatchUser-Job-canReadFromNode/job-1/mytask\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d/files?recursive=true&api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#files\",\"value\":[\r\n    {\r\n      \"name\":\"fsmounts\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d/files/fsmounts\",\"isDirectory\":true\r\n    },{\r\n      \"name\":\"volatile\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d/files/volatile\",\"isDirectory\":true\r\n    },{\r\n      \"name\":\"workitems\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d/files/workitems\",\"isDirectory\":true\r\n    },{\r\n     [...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d/files/workitems%2FBatchUser-Job-canReadFromNode%2Fjob-1%2Fmytask%2Fstdout.txt?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "ocp-batch-file-mode" : "0o100644",
      "ocp-batch-file-isdirectory" : "False",
      "ocp-batch-file-url" : "https%3A%2F%2Fjavasdkacct.eastus.batch.azure.com%2Fpools%2FBatchUser-testpool%2Fnodes%2Ftvmps_47f3d54584fcdb1b04fdda28c0aa9745ac037bf7d13f9ed41aa334f29a24c25b_d%2Ffiles%2Fworkitems%2FBatchUser-Job-canReadFromNode%2Fjob-1%2Fmytask%2Fstdout.txt",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:53:50 GMT",
      "content-type" : "text/plain",
      "dataserviceversion" : "3.0",
      "Body" : "hello\n"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}
