{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 28 Jan 2022 23:54:04 GMT",
      "etag" : "0x8D9E2B97714586B",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:54:04 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2B97714586B",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D9E2B97714586B\",\"lastModified\":\"2022-01-28T23:54:04.4285035Z\",\"creationTime\":\"2022-01-28T23:54:04.4285035Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-28T23:54:04.4285035Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2022-01-28T23:54:04.55Z\",\"doNotRunAfter\":\"2022-01-29T04:54:04.55Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"nextRunTime\":\"2022-01-28T23:54:04.55Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 28 Jan 2022 23:54:04 GMT",
      "etag" : "0x8D9E2B97749C061",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 28 Jan 2022 23:54:04 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E2B97749C061",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D9E2B97749C061\",\"lastModified\":\"2022-01-28T23:54:04.7785057Z\",\"creationTime\":\"2022-01-28T23:54:04.4285035Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2022-01-28T23:54:04.7785057Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-01-28T23:54:04.4285035Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2022-01-28T23:54:04.55Z\",\"doNotRunAfter\":\"2022-01-29T04:54:04.55Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 28 Jan 2022 23:54:04 GMT",
      "etag" : "0x8D9E2B9776ABE6C",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Fri, 28 Jan 2022 23:54:05 GMT",
      "etag" : "0x8D9E2B9778F5558",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:8209266f-d698-46cb-a791-3a020c8f015d\\nTime:2022-01-28T23:54:07.8331091Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}
