{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool?api-version=2022-01-01.15.0&%24expand=stats",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 27 Jan 2022 02:01:44 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9E138F8213617",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#pools/@Element\",\"stats@odata.navigationLinkUrl\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/stats\",\"stats\":{\r\n    \"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool/stats\",\"resourceStats\":{\r\n      \"startTime\":\"2022-01-27T02:01:44.6980119Z\",\"diskReadIOps\":\"34106\",\"diskWriteIOps\":\"133452\",\"lastUpdateTime\":\"2022-01-28T23:00:00Z\",\"avgCPUPercentage\":0.0033673206482846248,\"avgMemoryGiB\":0.45370817981116912,\"peakMemoryGiB\":0.53879928588867188,\"avgDiskGiB\":0.054254431072224357,\"peakDiskGiB\":0.061626434326171875,\"diskReadGiB\":0.31818389892578125,\"diskWriteGiB\":3.5342636108398438,\"networkReadGiB\":0.40643951110541821,\"networkWriteGiB\":0.77201546169817448\r\n    }\r\n  },\"id\":\"BatchUser-testpool\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testpool\",\"eTag\":\"0x8D9E138F8213617\",\"lastModified\":\"2022-01-27T02:01:44.6980119Z\",\"creationTime\":\"2022-01-27T02:01:44.6980119Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-01-27T02:01:44.6980119Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2022-01-27T02:03:22.6998358Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"test-user\",\"elevationLevel\":\"admin\",\"linuxUserConfiguration\":{\r\n        \"uid\":5,\"gid\":5\r\n      }\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-lts\",\"version\":\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"networkConfiguration\":{\r\n    \"subnetId\":\"/subscriptions/3960a4c8-4712-4014-9ad7-4da7f39f37f0/resourceGroups/javasdkrg/providers/Microsoft.Network/virtualNetworks/javasdkvnet/subnets/javasdksubnet\",\"dynamicVNetAssignmentScope\":\"none\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools?api-version=2022-01-01.15.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-testIaaSpool\",\"state\":\"active\"\r\n    },{\r\n      \"id\":\"BatchUser-testpool\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/pools?api-version=2022-01-01.15.0&%24filter=state%20eq%20%27deleting%27",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#pools\",\"value\":[]\r\n}"
    }
  } ],
  "variables" : [ ]
}
